osx_image: xcode8
language: objective-c

before_install:
- brew update
- if brew outdated | grep -qx xctool; then brew upgrade xctool; fi

script:
- xcodebuild test -project Sugar.xcodeproj -scheme Whisper -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=10.0'
